*.so
*.o
*.html
.DS_Store
*.vim
*.swp
*.tar.gz
python/__pycache__
install-deps/adios*
install-deps/boost*
install-deps/msgpack-c*
install-deps/hdf5-*
install-deps/netcdf-c*
install-deps/netcdf-cxx4*
install-deps/zlib-*
install-deps/build-opts.sh*
install-deps/build-opts.cmake*
python/flan.egg-info*
src/flan.egg-info*
docs/html*
docs/latex*
Doxyfile.bak
lib/cmake/*
scripts/flan_setup.sh*
